.movie-wrapper {
   position: fixed;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   background-color: #000000cc;
   z-index: 10;

   & h1 {
      font-size: 2rem;
   }

   button {
      position: absolute;
      right: 1rem;
      top: 1rem;
      background-color: #fefefe;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   & .movieDetails {
      padding: 0 5rem;

      & p {
         font-size: 1.2rem;
         color: khaki;
         font-weight: bold;
      }

      & p.plot {
         background-color: #fefefe;
         color: #000;
         padding: 0.5rem;
         border-radius: 10px;
         line-height: 150%;
      }
   }

   & img {
      max-width: 30vw;
      border-radius: 10px;
   }
}
